In [1]:
# Python program to illustrate
# enumerate function in loops
l1 = ["eat", "sleep", "repeat"]
  
# printing the tuples in object directly
for ele in enumerate(l1):
    print (ele)
  
# changing index and printing separately
for count, ele in enumerate(l1, 100):
    print (count, ele)
  
# getting desired output from tuple
for count, ele in enumerate(l1):
    print(count)
    print(ele)

(0, 'eat')
(1, 'sleep')
(2, 'repeat')
100 eat
101 sleep
102 repeat
0
eat
1
sleep
2
repeat

In [2]:

# Python program to illustrate
# enumerate function
l1 = ["eat", "sleep", "repeat"]
s1 = "geek"
  
# creating enumerate objects
obj1 = enumerate(l1)
obj2 = enumerate(s1)
  
print ("Return type:", type(obj1))
print (list(enumerate(l1)))
  
# changing start index to 2 from 0
print (list(enumerate(s1, 2)))

Return type: <class 'enumerate'>
[(0, 'eat'), (1, 'sleep'), (2, 'repeat')]
[(2, 'g'), (3, 'e'), (4, 'e'), (5, 'k')]

In [44]:
def square(x):
     return x**2
 
square(4)

# User defined: def lambda
# System defined func

16

In [45]:
square = lambda x:x**2
square(2)

4

In [6]:

import pandas as pd
import numpy as np
np.random.seed(12)
df = pd.DataFrame(np.random.randn(5, 3), index=list('abcde'), columns=list('XYZ'))
df

          X         Y         Z
a  0.472986 -0.681426  0.242439
b -1.700736  0.753143 -1.534721
c  0.005127 -0.120228 -0.806982
d  2.871819 -0.597823  0.472457
e  1.095956 -1.215169  1.342356

In [7]:
def add2(x):
     return x+2 
df.apply(add2)

          X         Y         Z
a  2.472986  1.318574  2.242439
b  0.299264  2.753143  0.465279
c  2.005127  1.879772  1.193018
d  4.871819  1.402177  2.472457
e  3.095956  0.784831  3.342356

In [8]:
df.apply(lambda x: x+2)

          X         Y         Z
a  2.472986  1.318574  2.242439
b  0.299264  2.753143  0.465279
c  2.005127  1.879772  1.193018
d  4.871819  1.402177  2.472457
e  3.095956  0.784831  3.342356

In [10]:
import numpy as np
sample = pd.DataFrame({'var1':[10,100,40] })
sample

   var1
0    10
1   100
2    40

In [12]:
sample['newvar1'] = sample.apply(lambda x: np.nan if x['var1'] < 90 else x['var1'], axis=1)
sample

   var1  newvar1
0    10      NaN
1   100    100.0
2    40      NaN

In [15]:
def miss(x):
    if x["var1"] < 90:
        return np.nan
    else:
        return x["var1"]
sample['newvar1'] = sample.apply(miss, axis=1)
sample

   var1  newvar1
0    10      NaN
1   100    100.0
2    40      NaN

In [17]:
mydf = pd.DataFrame({'Names': np.arange(1,10,2)}) 
mydf["flag"] = mydf["Names"].apply(lambda x: "yes" if x>=1 and x<=5 else "no"
        if x==7 else np.nan)
mydf

   Names flag
0      1  yes
1      3  yes
2      5  yes
3      7   no
4      9  NaN

In [47]:
def adder(x,y,z):
    print("sum:",x+y+z)

adder(10,12,13)
adder(10,12,13,15,16)

sum: 35

TypeError: adder() takes 3 positional arguments but 5 were given

In [40]:
def adder(x,y,z):
    print("sum:",x+y+z)

adder(5,10,15,20,25)

TypeError: adder() takes 3 positional arguments but 5 were given

In [48]:
def adder(*num):
    sum = 0
    
    for n in num:
        sum = sum + n

    print("Sum:",sum)

adder(3,5)
adder(4,5,6,7)
adder(1,2,3,5,6)

Sum: 8
Sum: 22
Sum: 17

In [50]:
def myFun(*argv):
    for arg in argv:
        print(arg)
myFun('Hello', 'Welcome', 'to', 'GeeksforGeeks','subrat','argya', 'Soumili', 'praveen')

Hello
Welcome
to
GeeksforGeeks
subrat
argya
Soumili
praveen

In [32]:
def myFun(arg1, *argv):
    print("First argument :", arg1)
    for arg in argv:
        print("Next argument through *argv :", arg)
myFun('Hello', 'Welcome', 'to', 'GeeksforGeeks')

First argument : Hello
Next argument through *argv : Welcome
Next argument through *argv : to
Next argument through *argv : GeeksforGeeks

In [33]:
def myFun(**kwargs):
    for key, value in kwargs.items():
        print("%s == %s" % (key, value))
# Driver code
myFun(first='Geeks', mid='for', last='Geeks')

first == Geeks
mid == for
last == Geeks

In [51]:
def intro(**data):
    print("\nData type of argument:",type(data))

    for key, value in data.items():
        print("{} is {}".format(key,value))

intro(Firstname="Sita", Lastname="Sharma", Age=22, Phone=1234567890)
intro(Firstname="John", Lastname="Wood", Email="johnwood@nomail.com", Country="Wakanda", Age=25, Phone=9876543210)

Data type of argument: <class 'dict'>
Firstname is Sita
Lastname is Sharma
Age is 22
Phone is 1234567890

Data type of argument: <class 'dict'>
Firstname is John
Lastname is Wood
Email is johnwood@nomail.com
Country is Wakanda
Age is 25
Phone is 9876543210

In [34]:
def myFun(*args, **kwargs):
    print("args: ", args)
    print("kwargs: ", kwargs)
 

# Now we can use both *args ,**kwargs
# to pass arguments to this function :
myFun('geeks', 'for', 'geeks', first="Geeks", mid="for", last="Geeks")

args:  ('geeks', 'for', 'geeks')
kwargs:  {'first': 'Geeks', 'mid': 'for', 'last': 'Geeks'}

In [30]:
sqr = [] 
for i in range(2,10):
    sqr.append(i**2)
sqr

[4, 9, 16, 25, 36, 49, 64, 81]

In [31]:
# List Comprehension
[i**2 for i in range(2,10)]

[4, 9, 16, 25, 36, 49, 64, 81]

In [23]:
def simple():  
    for i in range(10):  
        if(i%2==0):  
            yield i  
  
#Successive Function call using for loop  
for i in simple():  
    print(i)  
# A generator is a special type of function which does not return a single value
# instead, it returns an iterator object with a sequence of values. In a generator function, 
# a yield statement is used rather than a return statement

0
2
4
6
8

In [56]:
def table(n):  
    for i in range(1,11):  
        yield n*i  
        i = i+1  
  
for i in table(10):  
    print(i)

10
20
30
40
50
60
70
80
90
100

In [46]:
list = [1,2,3,4,5,6]  

z = (x**3 for x in list)
print(next(z))
print(next(z))
print(next(z))

1
8
27

In [53]:
import math
sum(x*x for x in range(100))

328350

In [ ]:
# https://www.dataquest.io/blog/python-generators-tutorial/
beer_data = "recipeData.csv"
lines = (line for line in open(beer_data, encoding="ISO-8859-1"))
lists = (l.split(",") for l in lines)

In [ ]:
# iterator vs iterable python
# https://www.google.com/search?q=iterator%20vs%20iterable%20python&tbm=isch&rlz=1C1GCEU_enIN1013IN1013&hl=en&sa=X&ved=0CCQQtI8BKAJqFwoTCMjbmsS6lvsCFQAAAAAdAAAAABAG&biw=1280&bih=609&dpr=1.5

In [1]:
# Decorators are a very powerful and useful tool in Python since it allows  programmers to modify the behaviour of a function or class.

# Python program to illustrate functions
# can be treated as objects
def shout(text):
    return text.upper()
 
print(shout('Hello'))
 
yell = shout
 
print(yell('Hello'))

HELLO
HELLO

In [25]:
# Python program to illustrate functions
# can be passed as arguments to other functions
def shout(text):
    return text.upper()
 
def whisper(text):
    return text.lower()
 
def greet(func):
    # storing the function in a variable
    greeting = func("""Hi, I am created by a function passed as an argument.""")
    print (greeting)
 
greet(shout)
greet(whisper)

HI, I AM CREATED BY A FUNCTION PASSED AS AN ARGUMENT.
hi, i am created by a function passed as an argument.

In [26]:
# Python program to illustrate functions
# Functions can return another function
 
def create_adder(x):
    def adder(y):
        return x+y
 
    return adder
 
add_15 = create_adder(15)
 
print(add_15(10))

25

In [23]:
def make_pretty(func):
    def inner():
        print("I got decorated")
        func()
    return inner


def ordinary():
    print("I am ordinary")
# ordinary()
pretty=make_pretty(ordinary)
pretty()

I got decorated
I am ordinary

In [25]:
@make_pretty
def ordinary():
    print("I am ordinary")
# ordinary()

I got decorated
I am ordinary

In [29]:
# https://www.programiz.com/python-programming/decorator
def divide(a, b):
    return a/b
divide(2,0)

ZeroDivisionError: division by zero

In [31]:
def smart_divide(func):
    def inner(a, b):
        print("I am going to divide", a, "and", b)
        if b == 0:
            print("Whoops! cannot divide")
            return

        return func(a, b)
    return inner


@smart_divide
def divide(a, b):
    print(a/b)
divide(2,0)

I am going to divide 2 and 0
Whoops! cannot divide

In [32]:
def star(func):
    def inner(*args, **kwargs):
        print("*" * 30)
        func(*args, **kwargs)
        print("*" * 30)
    return inner


def percent(func):
    def inner(*args, **kwargs):
        print("%" * 30)
        func(*args, **kwargs)
        print("%" * 30)
    return inner


@star
@percent
def printer(msg):
    print(msg)


printer("Hello")

******************************
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
Hello
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
******************************

In [4]:
from collections import Counter
random_list =[1,2,2,3,32,25,2,423,43,3432,3,52,54,5,5345,344,3344,5,54354,34,454]
Counter(random_list)

Counter({1: 1,
         2: 3,
         3: 2,
         32: 1,
         25: 1,
         423: 1,
         43: 1,
         3432: 1,
         52: 1,
         54: 1,
         5: 2,
         5345: 1,
         344: 1,
         3344: 1,
         54354: 1,
         34: 1,
         454: 1})

In [5]:
string = "I am going to count the number of words in this sentence: Analytics Vidhya brings you the power of a community that comprises data practitioners, thought leaders, and corporates leveraging data to generate value for their businesses."
word = string.split()
Counter(word)

Counter({'I': 1,
         'am': 1,
         'going': 1,
         'to': 2,
         'count': 1,
         'the': 2,
         'number': 1,
         'of': 2,
         'words': 1,
         'in': 1,
         'this': 1,
         'sentence:': 1,
         'Analytics': 1,
         'Vidhya': 1,
         'brings': 1,
         'you': 1,
         'power': 1,
         'a': 1,
         'community': 1,
         'that': 1,
         'comprises': 1,
         'data': 2,
         'practitioners,': 1,
         'thought': 1,
         'leaders,': 1,
         'and': 1,
         'corporates': 1,
         'leveraging': 1,
         'generate': 1,
         'value': 1,
         'for': 1,
         'their': 1,
         'businesses.': 1})

In [12]:
normal_dict = {'A':1,'B':2,'C':3,'D':4,'E':5}
normal_dict['A']
# normal_dict['F']

1

In [59]:
from collections import defaultdict
default_d={'A':1,'B':2,'C':3,'D':4,'E':5}
default_d = defaultdict(lambda: 2000)
default_d['subrat']
default_d

defaultdict(<function __main__.<lambda>()>, {'subrat': 2000})

In [60]:
Pizza = {'Farmhouse': 300, 'Chessy-7': 250}
Drinks = {'Coca-Cola':80,'Pepsi':80,'Red-bull':100}
SideOrders= {'Garlic Bread':120,'Tacos':90}
from collections import ChainMap
Menu = ChainMap(Pizza,Drinks,SideOrders)
Menu['Pepsi']

80

In [64]:
normal_tuple = (10,20,30)
normal_tuple[2]

30

In [67]:
from collections import namedtuple
Article = namedtuple('Article',['title','domain','number_of_words'])
a = Article('Sentimental_analysis','NLP','1000')
a

Article(title='Sentimental_analysis', domain='NLP', number_of_words='1000')

In [19]:
a.domain

'NLP'

In [21]:
from collections import namedtuple
 
# Declaring namedtuple()
Student = namedtuple('Student', ['name', 'age', 'DOB'])
 
# Adding values
S = Student('Nandini', '19', '2541997')
 
# Access using index
print("The Student age using index is : ", end="")
print(S[1])
 
# Access using name
print("The Student name using keyname is : ", end="")
print(S.name)

The Student age using index is : 19
The Student name using keyname is : Nandini

In [22]:
# Python code to demonstrate namedtuple() and
# _make(), _asdict() and "**" operator
 
# importing "collections" for namedtuple()
import collections
 
# Declaring namedtuple()
Student = collections.namedtuple('Student',
                                 ['name', 'age', 'DOB'])
 
# Adding values
S = Student('Nandini', '19', '2541997')
 
# initializing iterable
li = ['Manjeet', '19', '411997']
 
# initializing dict
di = {'name': "Nikhil", 'age': 19, 'DOB': '1391997'}
 
# using _make() to return namedtuple()
print("The namedtuple instance using iterable is  : ")
print(Student._make(li))
 
# using _asdict() to return an OrderedDict()
print("The OrderedDict instance using namedtuple is  : ")
print(S._asdict())
 
# using ** operator to return namedtuple from dictionary
print("The namedtuple instance from dict is  : ")
print(Student(**di))

The namedtuple instance using iterable is  :
Student(name='Manjeet', age='19', DOB='411997')
The OrderedDict instance using namedtuple is  :
{'name': 'Nandini', 'age': '19', 'DOB': '2541997'}
The namedtuple instance from dict is  :
Student(name='Nikhil', age=19, DOB='1391997')

In [36]:
from collections import OrderedDict
 
print("This is a Dict:\n")
d = {}
d['a'] = 1
d['b'] = 2
d['c'] = 3
d['d'] = 4
 
for key, value in d.items():
    print(key, value)
 
print("\nThis is an Ordered Dict:\n")
od = OrderedDict()
od['a'] = 1
od['b'] = 2
od['c'] = 3
od['d'] = 4
 
for key, value in od.items():
    print(key, value)

This is a Dict:

a 1
b 2
c 3
d 4

This is an Ordered Dict:

a 1
b 2
c 3
d 4

In [33]:
# A Python program to demonstrate working of key
# value change in OrderedDict
from collections import OrderedDict
 
print("Before:\n")
od = OrderedDict()
od['a'] = 1
od['b'] = 2
od['c'] = 3
od['d'] = 4
for key, value in od.items():
    print(key, value)
 
print("\nAfter:\n")
od['c'] = 5
for key, value in od.items():
    print(key, value)

Before:

a 1
b 2
c 3
d 4

After:

a 1
b 2
c 5
d 4

In [37]:
from collections import OrderedDict
>>> letters_0 = OrderedDict(a=1, b=2, c=3, d=4)
>>> letters_1 = OrderedDict(b=2, a=1, c=3, d=4)
>>> letters_2 = OrderedDict(a=1, b=2, c=3, d=4)

>>> letters_0 == letters_1
False

>>> letters_0 == letters_2
True

True

In [38]:
>>> letters_0 = dict(a=1, b=2, c=3, d=4)
>>> letters_1 = dict(b=2, a=1, c=3, d=4)
>>> letters_2 = dict(a=1, b=2, c=3, d=4)

>>> letters_0 == letters_1
True

>>> letters_0 == letters_2
True

True

In [1]:
import re

#Return a list containing every occurrence of "ai":

txt = "The rain in Spain"
x = re.findall("ai", txt)
print(x)

['ai', 'ai']

In [59]:
import re

txt = "The Srain in Spain"
x = re.search(r"\bS\w+", txt)
print(x.group())

Srain

In [9]:
import re

txt = "The rain in Spain"
x = re.split("\s", txt)
print(x)

['The', 'rain', 'in', 'Spain']

In [61]:
import re

txt = "The rain in Spain"
x = re.sub("\s", "8", txt)
print(x)

The8rain8in8Spain

In [11]:
import re

txt = "The rain in Spain"

#Check if the string starts with "The":

x = re.findall("\AThe", txt)

print(x)

if x:
  print("Yes, there is a match!")
else:
  print("No match")

['The']
Yes, there is a match!

In [13]:
import re

txt = "The rain in Spain"

#Check if the string contains any digits (numbers from 0-9):

x = re.findall("\d", txt)

print(x)

if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

['9']
Yes, there is at least one match!

In [14]:
import re

txt = "The rain in Spain"

#Find all lower case characters alphabetically between "a" and "m":

x = re.findall("[a-m]", txt)
print(x)

['h', 'e', 'a', 'i', 'i', 'a', 'i']

In [15]:
import re

txt = "The rain in Spain falls mainly in the plain!"

#Check if the string contains either "falls" or "stays":

x = re.findall("falls|stays", txt)

print(x)

if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

['falls']
Yes, there is at least one match!

In [62]:
import re
p = re.compile(r'\d+')
p.findall('12 drummers drumming, 11 pipers piping, 10 lords a-leaping')

['12', '11', '10']

In [18]:
print(re.match('super', 'superstition').span())
print(re.match('super', 'insuperable'))

(0, 5)
None

In [19]:
print(re.search('super', 'superstition').span())
print(re.search('super', 'insuperable').span())

(0, 5)
(2, 7)

In [63]:
>>> import os
>>> os.getcwd()

'C:\\Users\\UW336GJ'

In [67]:
>>> import os
>>> os.mkdir("C:\MyPythonProject")

FileExistsError: [WinError 183] Cannot create a file when that file already exists: 'C:\\MyPythonProject'

In [69]:
>>> import os
>>> os.chdir("C:\MyPythonProject") # changing current workign directory
>>> os.getcwd()

'C:\\MyPythonProject'

In [70]:
>>> import os
>>> os.rmdir("C:\\MyPythonProject")

PermissionError: [WinError 32] The process cannot access the file because it is being used by another process: 'C:\\MyPythonProject'

In [74]:
>>> import os
>>> os.listdir("C:\MyPythonProject")

['Excercise.txt', 'Merge_Concat.xlsx', 'pandas_concat.ipynb']

In [75]:
try:
    x=int(input('Enter a number upto 100: '))
    if x > 100:
        raise ValueError(x)
except ValueError:
    print(x, "is out of allowed range")
else:
    print(x, "is within the allowed range")

Enter a number upto 100: 300
300 is out of allowed range

In [76]:
try:
    print('try block')
    x=int(input('Enter a number: '))
    y=int(input('Enter another number: '))
    z=x/y
except ZeroDivisionError:
    print("except ZeroDivisionError block")
    print("Division by 0 not accepted")
else:
    print("else block")
    print("Division = ", z)
finally:
    print("finally block")
    x=0
    y=0
print ("Out of try, except, else and finally blocks." )

try block
Enter a number: 10
Enter another number: 2
else block
Division =  5.0
finally block
Out of try, except, else and finally blocks.

In [78]:
try:
    a=5
    b=0
    print (a+b)
except TypeError:
    print('Unsupported operation')
print ("Out of try except blocks")

5
Out of try except blocks